.swall-cashback,
.swal2-popup {
    border: solid 3px #ffbb00 !important;
    border-radius: 1rem !important;
    background: linear-gradient(0deg, #000, #000, #3f3f3f) !important;
    color: #fff !important;
}
.no-border {
    border: 0 !important;
}

.swall-loader {
    border-color: #ffec35 #ffec35 #ffec35 #ffec35 !important;
    border-width: 0.35em !important;
}
